.grey-text {
	-fx-text-fill: #888;
}

.plain-text-area {
	-fx-focus-color: transparent;
	-fx-background-color: #fff, #fff;
}

.plain-text-area .content {
	-fx-background-color: #fff;
	-fx-padding: 0;
}

.plain-text-area:disabled {
	-fx-text-fill: #292929;
	-fx-opacity: 1.0;
}

.plain-text-area .scroll-pane:disabled {
	-fx-opacity: 1.0;
}